/* requires beautifuldiscord (aur) */
/* ctrl+shift+i opens devtools */

/*
body {
  font-family: Roboto;
}
*/

code {
  font-family: Monaco !important;
}

.base-3dtUhz, .guildsWrapper-5TJh6A {
  border-radius: 0;
}

.theme-dark .guildsWrapper-5TJh6A {
  background-color: #191d29;
}

.channels-Ie2l6A, .container-PNkimc {
  background-color: #191d29;
}

.theme-dark .members-1998pB, .theme-dark .chat-3bRxxu, .theme-dark .title-3qD0b-, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .theme-dark .messagesWrapper-3lZDfY {
  background-color: #191d29;
}

.scroller-2FKFPG.members-1998pB {
  transform: translate(-15px); /* hide chat scrollbar */
  border-left: 1px solid #272d3f;
}

.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
  color: #62687f;
}

.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
  color: #4d5264;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
  border-top: 1px solid #272d3f;
  border-right: 1px solid #272d3f;
  background: none;
}

.nameConnectedText-3CzNQn, .nameConnectedVoice-MHUX5F, .nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
  color: #edd47d;
}

.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
  background-color: #272d3f;
}

.contentHoveredText-2D9B-x {
  background-color: #4d5264;
}

.theme-dark .divider-3gKybi:before, .theme-dark .divider-3gKybi span {
  background: #272d3f;
}

.container-2Rl01u {
  padding-top: 1px;
}

.theme-dark .title-3qD0b-, .header-2o-2hj {
  box-shadow: none;
  border-bottom: 1px solid #272d3f;
}

.base-3dtUhz {
  border-left: 1px solid #272d3f;
}

.theme-dark .channelName-3stJzi, .theme-dark .groupDM-3qU0Ks .channelName-3stJzi, .theme-dark .groupDMManaged-1GyXtq .channelName-3stJzi, .theme-dark .input-autosize-input, .theme-dark .input-autosize-input:focus {
  color: #edd47d;
}

.theme-dark .wrapper-35wsBm {
  background: #191d29;
}

.theme-dark .typing-2GQL18 {
  background: #272d3f;
}

